.step-img {
    width: 400px;
    height: auto;
}
.arrow-img {
    width: 80px;
    height: auto;
}
.chick1-img {
    width: 17%;
    max-width: 100%;
    height: auto;
}
.learning-message p {
    letter-spacing: 0.2em;
    font-size: x-large;
    font-weight: bold;
}
.step {
    position: relative;
    text-align: center;
}
.step-theme {
    font-size: x-large;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 16%;
    left: 46%;
    margin: 0;
    padding: 0;
}
.step-text {
    position: absolute;
    color: black;
    font-weight: bold;
    top: 43%;
    left: 47%;
    margin: 0;
    padding: 0;
}
.part2 {
    margin-top: 200px;
}
.child1-text {
    font-weight: bold;
    font-size: large;
}
.child1-img {
    width: 80%;
    max-width: 100%;
    height: auto;
}
.decoration {
    border-bottom: solid 3px #ffc778;
}
.learning-introduce-text {
    font-weight: bold;
    font-size: xx-large;
    letter-spacing: 0.2em;
}
.register_new-img {
    width: 60%;
    max-width: 100%;
    height: auto;
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .step-img {
        width: 400px;
        height: auto;
    }
    .arrow-img {
        width: 80px;
        height: auto;
    }
    .chick1-img {
        width: 17%;
        max-width: 100%;
        height: auto;
    }
    .learning-message {
        padding-top: 1rem;
        text-align: center;
    }
    .learning-message p {
        letter-spacing: 0.2em;
        font-size: x-large;
        font-weight: bold;
    }
    .step {
        position: relative;
        text-align: center;
    }
    .step-theme {
        font-size: x-large;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 16%;
        left: 46%;
        margin: 0;
        padding: 0;
    }
    .step-text {
        position: absolute;
        color: black;
        font-weight: bold;
        top: 43%;
        left: 47%;
        margin: 0;
        padding: 0;
    }
    .part2 {
        margin-top: 200px;
    }
    .child1 p {
        text-align: center;
    }
    .child1-text {
        font-weight: bold;
        font-size: x-large;
    }
    .child1-img {
        width: 80%;
        max-width: 100%;
        height: auto;
    }
    .decoration {
        border-bottom: solid 3px #ffc778;
    }
    .learning-introduce-text {
        font-weight: bold;
        font-size: xx-large;
        letter-spacing: 0.2em;
    }
    .register_new-img {
        width: 60%;
        max-width: 100%;
        height: auto;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .step-img {
        width: 400px;
        height: auto;
    }
    .arrow-img {
        width: 80px;
        height: auto;
    }
    .chick1-img {
        width: 25%;
        max-width: 100%;
        height: auto;
    }
    .learning-message {
        padding-top: 1rem;
        text-align: center;
    }
    .learning-message p {
        letter-spacing: 0.2em;
        font-size: x-large;
        font-weight: bold;
    }
    .step {
        position: relative;
        text-align: center;
    }
    .step-theme {
        font-size: x-large;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 16%;
        left: 46%;
        margin: 0;
        padding: 0;
    }
    .step-text {
        position: absolute;
        color: black;
        font-weight: bold;
        top: 43%;
        left: 47%;
        margin: 0;
        padding: 0;
    }
    .part2 {
        margin-top: 200px;
    }
    .child1 p {
        text-align: center;
    }
    .child1-text {
        font-weight: bold;
        font-size: x-large;
    }
    .child1-img {
        width: 80%;
        max-width: 100%;
        height: auto;
    }
    .decoration {
        border-bottom: solid 3px #ffc778;
    }
    .learning-introduce-text {
        font-weight: bold;
        font-size: xx-large;
        letter-spacing: 0.2em;
    }
    .register_new-img {
        width: 60%;
        max-width: 100%;
        height: auto;
    }
}

@media all and (max-width: 480px) {
    .step-img {
        width: 200px;
        height: auto;
    }
    .arrow-img {
        width: 55px;
        height: auto;
    }
    .step {
        position: relative;
        text-align: center;
    }
    .step-theme {
        font-size: small;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 16%;
        left: 46%;
        margin: 0;
        padding: 0;
    }
    .step-text {
        font-size: x-small;
        position: absolute;
        color: black;
        font-weight: bold;
        top: 43%;
        left: 47%;
        margin: 0;
        padding: 0;
    }
    .chick1-img {
        width: 50%;
        max-width: 100%;
        height: auto;
    }
    .learning-message {
        padding-top: 1rem;
        text-align: center;
    }
    .learning-message p {
        letter-spacing: 0.2em;
        font-size: medium;
        font-weight: bold;
    }
    .part2 {
        margin-top: 200px;
    }
    .child1 p {
        text-align: center;
    }
    .child1-text {
        font-weight: bold;
        font-size: large;
    }
    .child1-img {
        width: 80%;
        max-width: 100%;
        height: auto;
    }
    .decoration {
        border-bottom: solid 3px #ffc778;
    }
    .learning-introduce-text {
        font-weight: bold;
        font-size: large;
        letter-spacing: 0.2em;
    }
    .register_new-img {
        width: 80%;
        max-width: 100%;
        height: auto;
    }
}
