.question-img {
    width: 650px;
    height: auto;
}
.question {
    position: relative;
    text-align: center;
}
.question-text {
    font-weight: bold;
    color: black;
    position: absolute;
    top: 14%;
    left: 29%;
    margin: 0;
    padding: 0;
}
.answer-text {
    font-weight: bold;
    color: black;
    position: absolute;
    top: 59%;
    left: 29%;
    margin: 0;
    padding: 0;
}
.tel-img {
    width: 70%;
    max-width: 100%;
    height: auto;
}
.mail-img {
    width: 70%;
    max-width: 100%;
    height: auto;
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .question-img {
        width: 550px;
        height: auto;
    }
    .question {
        position: relative;
        text-align: center;
    }
    .question-text {
        font-weight: bold;
        color: black;
        position: absolute;
        top: 14%;
        left: 29%;
        margin: 0;
        padding: 0;
    }
    .answer-text {
        font-weight: bold;
        color: black;
        position: absolute;
        top: 59%;
        left: 29%;
        margin: 0;
        padding: 0;
    }
    .tel-img {
        width: 60%;
        max-width: 100%;
        height: auto;
    }
    .tel {
        margin-top: 4rem;
    }
    .mail {
        margin-top: 4rem;
    }
    .mail-img {
        width: 60%;
        max-width: 100%;
        height: auto;
    }
}

@media all and (min-width: 480px) and (max-width: 768px) {
    .question-img {
        width: 550px;
        height: auto;
    }
    .question {
        position: relative;
        text-align: center;
    }
    .question-text {
        font-weight: bold;
        color: black;
        position: absolute;
        top: 14%;
        left: 29%;
        margin: 0;
        padding: 0;
    }
    .answer-text {
        font-weight: bold;
        color: black;
        position: absolute;
        top: 59%;
        left: 29%;
        margin: 0;
        padding: 0;
    }
    .tel-img {
        width: 60%;
        max-width: 100%;
        height: auto;
    }
    .tel {
        margin-top: 4rem;
    }
    .mail {
        margin-top: 4rem;
    }
    .mail-img {
        width: 60%;
        max-width: 100%;
        height: auto;
    }
}

@media all and (max-width: 480px) {
    .question-img {
        width: 200px;
        height: auto;
    }
    .question {
        position: relative;
        text-align: center;
    }
    .question-text {
        font-size: xx-small;
        font-weight: normal;
        color: black;
        position: absolute;
        top: 7%;
        left: 22%;
        margin: 0;
        padding: 0;
    }
    .answer-text {
        font-size: xx-small;
        color: black;
        font-weight: normal;
        position: absolute;
        top: 52%;
        left: 22%;
        margin: 0;
        padding: 0;
    }
    .tel-img {
        width: 60%;
        max-width: 100%;
        height: auto;
    }
    .mail {
        margin-top: 2rem;
    }
    .mail-img {
        width: 60%;
        max-width: 100%;
        height: auto;
    }
}
