a {
    text-decoration: none;
    color: black;
}
.main-content {
    margin-top: 50px;
    margin-bottom: 50px;
}
.theme {
    margin-bottom: 60px;
}
.message-group {
    margin: 0px auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #ccc;
    margin-bottom: 60px;
    padding: 10px;
}

.return-button {
    padding: 12px 18px;
    text-decoration: none !important;
    color: white !important;
    background-color: blue;
    transition: 0.5s;
    font-weight: bold;
    font-size: x-large;
}
.return-button:hover {
    background-color: cornflowerblue;
}
.balloon_r {
    margin: 30px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.balloon_r {
    justify-content: flex-end;
}
.faceicon img {
    width: 80px;
    height: auto;
}
.balloon_r .faceicon {
    margin-left: 25px;
}

.balloon_r .faceicon {
    order: 2 !important;
}
.says {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 17px 13px 15px 18px;
    border-radius: 12px;
    background: #99dddd;
    box-sizing: border-box;
    margin: 0 !important;
    line-height: 1.5;
}
.says p {
    margin: 8px 0 0 !important;
}
.says p:first-child {
    margin-top: 0 !important;
}
.says:after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
}
.balloon_r .says:after {
    right: -26px;
    border-left: 22px solid #99dddd;
}
.pagination {
    text-align: center;
}

/* ページ送りを横並びに */
.pagination li {
    display: inline-block;
}

@media screen and (max-width: 480px) {
    .main-content {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .theme {
        margin-bottom: 50px;
    }
    .faceicon img {
        width: 50px;
        height: auto;
    }
}
